<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">

  <!--Material Design Icons from Google-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Compiled and minified CSS-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!--Google Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <!--Custom stylesheet-->
  <link rel="stylesheet" type="text/css" href="styles/styles.css" media="screen" title="no title" charset="utf-8">
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!--Compiled and Minified JavaScript-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <title>Jawn it</title>
</head>

<body>
  {{{body}}}
</body>

</html>